<div class="header">
	<div class="header-upper">

		<div class="header-links-wrapper">
			<div class="header-links">
				<ul>
					<!--If Authenticated-->
					
					<!--Else-->
					
					<li><a href="#" class="ico-register">Register</a></li>
					<li><a href="#" class="ico-login">Login</a></li>

				</ul>
			</div>
		</div>
	
	</div>
	<div class="header-lower"></div>
</div>