@{
	var title = "Eco - init";
}


<!DOCTYPE html>
<html>
	<head>
		<title>@title</title>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta name="generator" content="ecoCommerce" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="~/css/styles.css" rel="stylesheet" />

	</head>
	<body>
		@RenderBody()
	</body>
</html>